@{
    ViewBag.Title = "Strona domowa";
}

<div class="jumbotron">
    <h1>Konkursy UwB</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut enim porta, porttitor sapien eu, imperdiet urna. Aenean sit amet rutrum augue. Phasellus quis turpis quis neque ornare tempus eget at lacus. Mauris sed elementum ante, cursus pretium urna. Duis lacinia sem justo, ut posuere augue blandit ac. Ut semper libero faucibus diam iaculis placerat. Etiam volutpat nisi lectus, vel suscipit nisl faucibus eget. Etiam volutpat nunc tortor, eu molestie nibh laoreet et. Curabitur id augue euismod, vestibulum odio quis, convallis justo. Etiam a congue ipsum.</p>
    <p><a href="http://ii.uwb.edu.pl" class="btn btn-primary btn-lg">Więcej &raquo;</a></p>
</div>
