<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>Panel użytkownika</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        
        <div class="panel panel-default">
            <div class="panel-heading">
                Drużyny użytkownika

                <div class="btn-group" role="group" aria-label="...">
                    @Html.ActionLink("Dodaj", "Add", "Team", null, new { @class = "btn btn-default" })
                    <button type="button" class="btn btn-default">Edytuj</button>
                    <button type="button" class="btn btn-default">Usuń</button>
                </div>

            </div>
            <div class="panel-body">
                Tutaj druzyny
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        
        <div class="panel panel-default">
            <div class="panel-heading">
                Drużyny do których użytkownik należy

                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default">Zapisz się</button>
                    <button type="button" class="btn btn-default">Wyjdź z drużyny</button>
                </div>

            </div>
            <div class="panel-body">
                Tutaj drużyny
            </div>
        </div>
    </div>
</div>